body {
    background: rgb(13, 27, 75);
    font: normal 12pt Arial;
}

p {
    text-align: left;
}

header {
    color: white;
    text-align: center;

}

section {
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
 text-align: center;
 background: white;
 border-radius: 8px;
 padding: 15px;
 width: 500px;
 margin: auto;
 text-align: left;
 box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.397);
}

div {
    padding: 10px;
}

footer {
    color: white;
    padding-top: 14px;
    text-align: center;
    font-style: italic;
}